/* Universal selector */

* {
    margin: 0;
    padding: 0;
}

/* Body styles */

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #4F4846;
    line-height: 1.25;
}

main {
    padding: 10px 0 10px 10%;
    background-color: #60a4b4;
}

h2 {
    width: auto;
    height: auto;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.5em;
    background-color: #195877;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: -10px;
    z-index: 2;
    display: inline-block;
}

/* Header styles */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    padding: 20px;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 3em;
    color: #070b38;
    margin-left: 20px;
    filter: drop-shadow(5px 5px 1px #69b4c7);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 20px;
}

nav li {
    padding: 10px;
}

nav a {
    color: #070b38;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

.headerimage {
    background-image: url(../images/headerbackground2.jpg);
    background-size: cover;
}

/* About me styles */

.aboutmebox {
    display: flex;
    flex-direction: row;
    text-align: left;
    text-justify: inter-word;
    background-color: white;
    padding: 20px;
    border-bottom: 10px solid #447683;
    border-right: 10px solid #69b4c7;
    width: 90%;
    margin-bottom: 20px;
    justify-content: space-around;
}

.aboutmebox a {
    color: #195877;
}

.aboutmebox a:hover {
    color: #69b4c7;
}

.clip-circle {
    clip-path: circle(100px at center);
    width: 200px;
    height: 200px;
    margin-right: 3rem;
}

/* Work class styles */

.workbox {
    flex-direction: row;
    text-align: left;
    text-justify: inter-word;
    background-color: white;
    padding: 20px;
    border-bottom: 10px solid #447683;
    border-right: 10px solid #69b4c7;
    width: 90%;
    margin-bottom: 20px;
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2rem;
}

.hero {
    background-image: url(../images/portfolio/accessibilityrefactor.png);
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}

.portfolio {
    display: flex;
    justify-content: space-between;
}


.portfolioimage {
    background-size: cover;
    width: 99%;
    height: 300px;
}

.workbox img:hover {
    opacity: .5;
    background-color: #070b38;
}

#csscheatsheet {
    background-image: url(../images/portfolio/csscheatsheet.png);
}

#landingpage {
    background-image: url(../images/portfolio/landingpage.png);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.containerflex {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.caption {
    color: white;
    background-color: #69b4c7;
    padding: 20px;
    width: fit-content;
    margin-top: -80px;
    z-index: 1;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: white;
    font-weight: bold;
    background-color: #69b4c7;
    padding: 20px;
}

/* Contact Me class styles */

.contactmebox {
    display: flex;
    flex-direction: row;
    text-align: left;
    text-justify: inter-word;
    background-color: white;
    padding: 20px;
    border-bottom: 10px solid #447683;
    border-right: 10px solid #69b4c7;
    width: 90%;
    margin-bottom: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contactmebox a {
    color: #195877;
}

.contactmebox a:hover {
    color: #69b4c7;
}


/* Footer styles */

footer {
    padding: 10px;
    background-image:url(../images/headerbackground2.jpg);
    background-size: cover;
}

footer h4 {
    color: white;
    font-size: .75em;
    display: flex;
    justify-content: flex-end;
}

/* Media queries */

@media screen and (max-width: 899px) {
    .aboutmebox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    header {
        display: block;
        text-align: center;
    }
    
    nav ul {
        justify-content: center;
    }

    .portfolio {
        display: block;
    }

    .contactmebox {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}


@media screen and (min-width: 661px) {

    
}