/* Universal selector */

* {
    margin:0;
    padding:0;
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background-color: white;
    color: #4F4846;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    line-height: 1.25;
  }

  header {
    background-color: navy;
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: space-between;
    
    /* position: relative; */
  }

  header h1 {
      /* background: rgb(96, 96, 229); */
      padding: 10px;
      padding-left: 40px;
      /* position: absolute; */
      /* display: block; */
      font-family: 'Nothing You Could Do', cursive;
      font-size: 3em;
      color: #070b38;
      margin-left: -20px;
      filter: drop-shadow(5px 5px 1px #69b4c7);
    }

  nav {
      /* background-color: #070b38; */
      justify-content: end;
  }

  nav a {
      color: white;
      text-decoration: none;
      padding: 14px 20px;
      text-align: center;
      justify-content: end;
  }

  nav a:hover {
    color: #070b38;
}

  main {
      padding: 10px 10% 10px 10%;
      background-color: #789096;
  }

  section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* margin: 0 20px 2px 20px; */
  }

  section h3 {
      width: auto;
      height: auto;
      font-family: 'Nothing You Could Do', cursive;
      font-size: 1.5em;
      align-items: flex-end;
      justify-content: flex-end;
      order: 1;
      background-color: #195877;
      color: white;
      border-radius: 10px 10px 0 0;
      padding: 10px;
      margin-left: 10px;
      margin-bottom: -10px;
      z-index: 1;
  }

  section h3:hover {
    background-color: #3c565c;
    color: white;
}

  section ul {
    order: 2;
    padding: 20px;
    line-height: 2.5;
    display: flex;
    flex-direction: column;
    list-style: circle;
    padding-left: 50px;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    border-bottom: 10px solid #447683;
    border-right: 10px solid #69b4c7;
  }

  section a {
    color: #195877;
    text-decoration: underline;
    /* padding: 14px 20px; */
    text-align: center;
    font-weight: bold;
  }

  section a:hover {
    color: #69b4c7;
  }

  section ul a {
    padding: 14px 20px;

  }

  section p {
    text-align: left;
    text-justify: inter-word;
    order: 4;
    width: 100%;
    background-color: white;
    padding: 20px;
    /* margin: 20px; */
    border-bottom: 10px solid #447683;
    border-right: 10px solid #69b4c7;
  }

  section img, .headshot {
      width: 200px;
      height: 200px;
      margin-right: 25px;
      order: 2;
      align-items: flex-start;
      float: left;
  }

  .hero {
    background-image: url(../images/headerbackground.jpg);
    background-size: contain;
    width: 100%;
    height: 400px;
  }

  .portfolio {
    background-size: cover;
    width: 50%;
    height: 300px;
    align-items: center;
    float: left;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  #project1 {
    background-image: url(../images/headerbackground.jpg);
  }

  #project2 {
    background-image: url(../images/headerbackground2.jpg);
  }

  #project3 {
    background-image: url(../images/headshot.jpg);
  }

  #project4 {
    background-image: url(../images/headshot.jpg);
  }

  section img:hover {
    opacity: 0.5;
}

  footer {
    padding: 20px;
  }

  footer h4 {
      color: white;
      text-align: center;
      font-size: .75em;
      display: flex;
      justify-content:flex-end;
  }

  .image {
      background-image:url(../images/headerbackground2.jpg);
      background-size:cover;
  }

  .imagereverse {
    background-image:url(../images/headerbackground2.jpg);
    background-size:cover;
    /* transform: scaleX(-1); */
}

  .aboutme, .work, .contactme {
      padding-bottom: 20px;
  }

  .clip-circle {
    clip-path: circle(100px at center);
  }

  /* .portfolio {
    width: 200px;
    height: 200px;
    margin-right: 40px;
    order: 2;
    align-items: flex-start;
    float: left;
} */

/* .portfoliohero {
  width: 100%;
  height: 400px;
  background-image: background-image:url(../im);
  background-size: cover;
  border: 1px solid red;
} */
